/*  your css code here. If applicable */
div{
	width:300px;
	height:700px;
	padding:20px;
	background-color:lightgray;
	box-shadow: 10px 10px 5px 12px lightblue;
	padding:auto;
	text-align:center;
	button{
		padding:10px;
		background-color:black;
		color:white;
		border:none;
		border-radius:10px;
		text-align:center;
	}
}